.table {
  width: 40%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 1em;
  font-family: "Arial", sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: #fff;
}

.table th,
.table td {
  padding: 12px 15px;
  border-bottom: 1px solid #fff;
  text-align: left;
}

.table th {
  background-color: transparent;
  color: #fff;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  text-align: center;
}

.centered {
  text-align: center;
}

@media (max-width: 768px) {
  .table {
    width: 80%;
    min-width: unset;
  }
}
