.component {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 45vw;
  max-width: 75vw;
  margin: auto;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4.5rem;
  font-weight: 200;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 100;
}

.job {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}

.name {
  font-weight: 600;
}

@media (max-width: 768px) {
  .container {
    padding: 0 0;
  }

  .title {
    font-size: 3.25em;
  }

  .subtitle,
  .job {
    font-size: 1.25rem;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
